<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestDependency">

  <test name="TestCase1">
		 
	<classes>
	  <class 
		name="com.codewr.test.TestApp">
	  </class>
	  <class 
		name="com.codewr.test.TestDatabase">
	  </class>
	  <class 
		name="com.codewr.test.TestServer">
	  </class>
	</classes>
		
  </test>

</suite>